{% extends "layout.html" %}

{% block title %}
  Log In
{% endblock %}

{% block main %}
  <div class="container pt-5 mt-5">
    <form action="/register" method="post" class="pt-5 d-flex flex-column justify-content-center align-items-center">
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
      </div>
      <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
      </div>
      <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
      </div>
      <div class="align-self-center">
        <button class="btn btn-primary px-5" type="submit">Register</button>
      </div>
    </form>
  </div>
{% endblock %}